<template name="comment">
    <div id="{{id}}">
        <h4>{{title}}</h4>
        <h6>{{author}} - {{timestamp}} - ( <a href="">{{commentCount}} comments</a> )</h6>

        <p>
            {{content}}
        </p>
        <a class="replyToComment" id="replyToComment_{{id}}">Reply</a>
        <br/>
        {{#each comments}}
            {{> comment}}
        {{/each}}
        <p class="formReplyToComment collapsible collapsed">
            {{> Template.dynamic template=replyTemplate data=replyTemplateData}}
        </p>
    </div>
</template>