<template name="entryFull">
    <div class='clear'></div>
    <div class='sixteen container formpostbox'>
        <h3>{{title}}</h3>
        <h4>{{timestamp}}</h4>
        <h4>{{author}} - ( <a href="">{{commentCount}} comments</a> )</h4>

        <div class='sixteen formpostbox'>
        <p>
            {{content}}
        </p>
            </div>
        <p>
            {{> newComment}}
        </p>
        <div class='sixteen container formpostbox'>
        <p>
            {{#each comments}}
                {{> comment}}
            {{/each}}
        </p>
            </div>
    </div>
</template>