<template name="newComment">
    <div class="newComment">
        <p>New comment:</p>
        <!-- If this has no value then this is the root comment -->
        <input type="hidden" class="replyToId" value="{{replyToId}}" />
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" id="title"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="content"></textarea>
                </td>
            </tr>
        </table>
        <button id="submitComment">Submit</button>
    </div>
</template>