<template name="profile">

    <div class='container'>
        <div class='sixteen column'>
            <img class='profileimg' src='images/profile.fw.png' alt='profile'>

            <h3> Max Muster123 ♂</h3>

            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat,
            </p>

            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat,
            </p>

            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolore magna aliquyam erat.
            </p>
            <br>
            <a href="#">Profilbild ändern</a>

            <div class='sixteen columns line' style='margin-left: 0px;'>&nbsp;
            </div>
        </div>
        <div class='sixteen columns form'>
            <h3>Lorem ez sirim lorem</h3>
            <h6>MaxMuster123 - 11/27/2014, 12:45:19 AM</h6>

            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua.
                <br>
                <a href="#">weiterlesen...</a>
            </p>
        </div>

        <div class='sixteen columns form'>
            <h3>lorem et ambi et.</h3>
            <h6>MaxMuster123 - 11/27/2014, 12:45:19 AM</h6>

            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua.
                <br>
                <a href="#">weiterlesen...</a>
            </p>

            <form>
                <input type='text' name='mail' placeholder='This is a Title'>
                <textarea cols='50' rows='10' name='message' placeholder='This is a Message'></textarea>
                <a class="button medium green" type='submit' value='post'>Post</a>
            </form>
        </div>
    </div>
</template>